.body {
  /* min-width: 320px; */
  min-width: fit-content;
  max-width: 1280px;
  min-height: 100vh;
  background-color: #2A2C2F;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0 auto;
}

