.body {
  background-color: #2A2C2F;
  color: #fff;
  font-weight: 400;
  min-width: min-content;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

