.header {
  max-width: 928px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 28px;
  /* margin: 0 48px; */
  margin: 28px 48px 0;
}

@media screen and (min-width: 1122px) {
  .header {
    max-width: 1184px;
  }
}