.footer__link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  line-height: 18px;
  opacity: 1;
  transition: opacity 1s ease;
}

.footer__link:hover:hover {
  opacity: .5;
}


@media screen and (max-width: 540px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}