.intro {
  max-width: 690px;
  min-height: 420px;
  margin-left: 48px;
}


@media screen and (min-width: 1120px) {
  .intro {
     margin-left: 148px;
  }
}

@media screen and (max-width: 890px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    /* max-width: 288px; */
    /* min-height: 754px; */
    margin: 0 16px;
  }
}